<form class="needs-validation" action="https://formsubmit.co/92de50b71f8ded9d6e8c5862f42e305a" method="post" novalidate>
    <input type="hidden" name="_subject" value="New Message from Mohannadotaibi.com!" />
    <input type="text" name="_honey" style="display: none" />
    <input type="hidden" name="_captcha" value="true" />
    <input type="hidden" name="_template" value="box" />
    <input type="text" name="_honey" style="display: none" />

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="yourName" name="yourName" placeholder="Mohannad Otaibi" required />
        <label for="yourName">Your Name</label>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="mohannad@otaibi.com" required />
        <label for="email">Your Email</label>
    </div>

    <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a message here" id="message" name="message" style="height: 100px"></textarea>
        <label for="message">Your Message</label>
    </div>

    <div class="d-grid gap-2 mt-3">
        <button type="submit" class="btn btn-success btn-lg">
            Send
            <i class="bi bi-send"></i>
        </button>
    </div>
</form>
